#btnAnimate {
    width: 100px;
    height: 40px;
    background: steelblue;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
    text-align: center;
    
  }
  
  #btnAnimate:hover {
    width: 300px;
  }
  
  .contentMainContainer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    background-color: #eef0f1;
    padding: 20px;
    
    align-content: left;
    
  }
  .text-center{
    color:black;
  }

  .page-Data{
    width:100%;
    align-content: center;
    height:235px;
    display:inline-block;
    background-color: white;
    margin-bottom:10px;
    margin-left:0px;
    margin-right:0px;
  }

  .formContainer{

    
    width: 50%;
    display: inline-block;
    border: 2px;
    border-style: solid;
    border-color: steelblue;
    border-radius: 3px;
    margin-left: 10px;
    text-align: left;
    box-shadow: 0px 0px 10px 2px grey;
    
  }
  .formContainer2{

    background: radial-gradient(to top left, #0099cc 0%, #00ff00 100%);
    
    width: 45%;
    display: inline-block;
    height: fit-content;
    margin-left: 20px;
    border-style: solid;
    border-color: steelblue;
    box-shadow: 0px 0px 10px 2px grey;
    border-radius: 3px;
  }


  .card-header .fa {
    transition: .3s transform ease-in-out;
  }
  .card-header .collapsed .fa {
    transform: rotate(90deg);
  }

  .domainForm{

    
    width: 50%;
    display: inline-block;
    border: 2px;
    border-style: solid;
    border-color: steelblue;
    border-radius: 3px;
    margin-left: 25%;
    margin-right: auto;
    text-align: left;
    margin-top: 25px;
    padding-block: 30px;
    box-shadow: 0px 0px 10px 2px grey;
  }

  .webForm{

    
    width: 80%;
    display: inline-block;
    border: 2px;
    border-style: solid;
    border-color: steelblue;
    border-radius: 3px;
    margin-left: 10%;
    text-align: left;
    margin-top: 25px;
    padding-block: 30px;
    box-shadow: 0px 0px 10px 2px grey;
  }

  #bgImage
  {
    /* budgetplan */
    background-image: url('../images/aboutt.gif');
    position: relative;
  }
  #bgImage1
  {
    /* signupbg */
    background-image: url('../images/sourceBanner23.gif');
    
  }
  #bgImage2{
    background-image: linear-gradient(to bottom right, rgb(105, 104, 104), yellow);
  }